@import "_variables.scss";

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 2rem 4.5rem;
  background-color: red;
  border-radius: 10rem;
  font-size: 3rem;
}

.btn-red {
  color: white;
}

.btn:hover {
  transform: scale(2);
}
