@import "_variables.scss";

.strawberry {
  height: 10rem;
  margin: 3rem auto;
  filter: grayscale(0.5);
  transition: all 0.3s;
}

.strawberry:hover {
  transform: translateX(10rem) rotate(360deg) scale(1.5);
  filter: none;
}
