html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  margin: 2rem auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-black {
  color: white;
  outline: solid white;
  outline-offset: 0;
  border: 0.5rem solid white;
}

.btn-black:hover {
  outline-offset: 0.5rem;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn-black:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.btn-red {
  color: red;
}

.btn-red:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.btn-red:active {
  color: white;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

.strawberry {
  height: 10rem;
  margin: 3rem auto;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.strawberry:hover {
  -webkit-transform: translateX(10rem) rotate(360deg) scale(1.5);
          transform: translateX(10rem) rotate(360deg) scale(1.5);
  -webkit-filter: none;
          filter: none;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

.text-effect {
  color: white;
  font-size: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 3rem auto;
}

.text-effect:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  letter-spacing: 2rem;
  color: red;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

.post {
  background-color: white;
  border-radius: 5rem;
  margin: auto 60rem;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bananas {
  height: 15rem;
  margin: 3rem auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content {
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.post:hover .content {
  opacity: 1;
}

.post:hover .bananas {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */