@import "_variables.scss";
@import "_btn.scss";
@import "_fruits.scss";
@import "_hello-world.scss";

.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
